.container_selected{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    padding: 0;
    gap: 1rem;
    list-style: none;
    max-width: 100rem;
    position: relative;
}

#selected__tag{
    padding: 0.375rem 0;
    position: relative;
    color: white;
    font-family: global.$font1;
    display: flex;
    &--close{
        position: absolute;
        left: 85px;
        bottom: 5px;
    }
}

.selected_tag_input_ingredient,
.selected_tag_input_appliance,
.selected_tag_input_ustensil{
    padding: 11px 12px 11px 10px;
    margin-right: 30px;
    background-color: global.$primary;
    height: 37px;
    border-radius: 5px;
    span{
        margin-right: 25px;
    }
}
.selected_tag_input_appliance{
    background-color: global.$tertiary;
}

.selected_tag_input_ustensil{
    background-color: global.$secondary;
}

#tag-close{
    left: 108px;
    top: 18px;
    color: white;
}


